
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}
#cabecalho{
    width: 100%;
    margin: 0;
    float: left;
}
#menu{
    width: 100%;
    background: red;
}
#menu a{
        color: white;
        text-decoration: none;
        margin: 80px;
        vertical-align:  middle;
}

#conteudo{
    min-height: 300px;
    width: 100%;
    margin: 0;
    float: left;
}
.sidebar{
    width: 20%;
    float: left;
}
.sidebar ol li{
    cursor: pointer;
    margin-bottom: 5px;
}
.produtos{
    width: 80%;
    float: left;
}
.produtos ul{
    list-style: none;
}
.produtos ul li{
    width: 20%;
    height: 300px;
    display:inline-block;
    text-align: center;
    padding: 15px;
    margin-bottom: 15px;
}
.produtos ul li p{
    margin: 0;
    padding: 0;
}
.produtos ul li a{
    color: black;
    text-decoration: none;
}
.produtos ul li a:hover{
    color: blue;
    text-decoration: underline;
}
.enderecos{
    width: 33%;
    float: left;
    margin-bottom: 30px;
}
.contato{
    width: 50%;
    float: left;
    height: 200px;
}
.form{
    width: 100%;
    text-align: center;
}
.form input{
    width: 500px;
    height: 30px;
    margin: 15px;
}
.form textarea{
    width: 500px;
    height: 70px;
    margin: 15px;
}
.form button{
    width: 150px;
    height: 26px;
    font-weight: bold;
    margin-bottom: 30px;
    
}
.form .livro-visita{
    width: auto;
    height: auto;
    text-align: left;
    padding: 10px 0 15px 15px;
}
.pedido{
    width: 100%;
    
}
.pedido table{
    margin: auto;
   
}
.pedido .prod{
    text-align: center;
    width: 40%;
    padding: 20px;
}
.pedido input{
    height: 30px;
    width: 95%;
}
.pedido .end{
    width: 30%;
}
.pedido .num{
    width: 77%;
}
.pedido .tel{
    width: 50%;
}
.pedido .qtd{
    width: 20%;
}
.pedido button{
 width: 30%;
 height: 40px;
 background-color: green;
 border: 0;
 border-radius: 20px;
 color: white;
 font-weight: bold;
 margin: 10px;
}
.pedido .sub{
    text-align: center;

}

.destaque{
    font-weight: bold;
    display: inline-block;
    font-size: large;
}
#rodape{
    margin: 0;
    text-align: center;
    width: 100%;
    float: left;
}
p.pagamento{
    color:red;
    font-weight: bold;
}
p.copy{
    font-size: 14px;
    
}